* {
  box-sizing: border-box;
}

. {
  margin-top: 10px;
  padding-top: 10px;

}


.big {
  width: 1100px;
  height: 650px;
  margin-left: 30px;
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

}

.all{
  width: 1440px;
  height: 460px;
  margin: auto;
  background-color: #fff763;
  background-image: url(../imgs/buttons.png);
  display: inline-block;
}

.picture {
  height: 800px;
  width: 950px;
  margin-top: 100px;
  /*padding-top: 5px;*/
  background-color:white;
  background-size: cover;
  margin-left: -40px;
}
.small1 {
  width: 560px;
  height: 315px;
  display: block;
  position: absolute;
  margin-left: 130px;
  margin-top: 50px;

}
.small2 {
  width: 560px;
  height: 315px;
  display: block;
  position: absolute;
  margin-left: 750px;
  margin-top: 50px;
  margin-bottom: 50px;

}
 .logo {

     width: 182px;
     height: 870px;
     padding-left: px;
     margin-left: px;
     margin-top: 161px;
     margin-right: -370px;
     background-repeat: no-repeat;
}
.logofb {
  width: 138px;
  height: 128px;
  padding-left: px;
  margin-left: px;
  margin-top: -180px;
  margin-right: -300px;
}

.more{
  width: 80px;
  height: 70px;
  padding-left: px;
  margin-top: 490px;
  margin-left: 1340px;
}
.fonts {
  height: 187px;
  width: 50px;
  margin-top: 295px;
  margin-right: -352px;
  /* padding-top: 5px; */
  background-color: white;
  background-size: cover;
  margin-left: 100px;
  z-index: 4;
  margin-left: 163px;

}

/*.end {
  width: 150px;
  height: 362px;
  padding-left:10px;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1;
  background-color: r
}*/


#img1_1 {
background-image: url(../imgs/img1.png);
}

#logo {
  background-image: url(../imgs/logo.png);
}

#fonts {
  background-image: url(../imgs/fonts.png);
}

/*#fonts:hover  {
  background-image: url(../imgs/hover.png);
}*/
