* {
  box-sizing: border-box;
}

. {
  margin-top: 10px;
  padding-top: 10px;
}


.big {
  width: 1100px;
  height: 650px;
  margin-left: 30px;
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

}

.all{
  width: 1440px;
  height: 460px;
  margin: auto;
  background-color: #fff763;
  background-image: url(../imgs/buttons.png);
  display: inline-block;
}

.picture {
  height: 800px;
  width: 950px;
  margin-top: 100px;
  /*padding-top: 5px;*/
  background-color:white;
  background-size: cover;
  margin-left: -40px;
}
.small1 {
  width: 560px;
  height: 315px;
  display: block;
  position: absolute;
  margin-left: 130px;
  margin-top: 50px;

}
.small2 {
  width: 560px;
  height: 315px;
  display: block;
  position: absolute;
  margin-left: 750px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.logo {
  width: 138px;
  height: 128px;
  padding-left: px;
  margin-left: px;
  margin-top: -180px;
  margin-right: -300px;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* text-decoration: none; */
}


#img1_1 {
background-image: url(../imgs/img1.png);
}

#logo {
  background-image: url(../imgs/logo.png);
}
